.App {
  text-align: center;
}
body {
  color: rgb(37, 37, 37);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.NavBar {
  background-color: rgb(119, 0, 0);
  padding: 10px;
  border-bottom: thick double #ffffff;
}
.NavBar a {
  text-decoration: none;
  color: black;
  margin: 0 5px 0 5px;
  font-size: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.Messages {
  display: block;
  width: 300px;
  margin: 150px 0px 0px 50px;
  border-radius: 30px;
  border: thick double #ffffff;
}
.Messages a {
  display: block;
  color: rgb(255, 255, 255);
  margin: 0 5px 0 5px;
  font-size: 3em;
}
